<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
    <add key="DefaultPushSource" value="http://usga-aftrepo-01.eastus.cloudapp.azure.com:8082/artifactory/api/nuget/nuget-hcs/" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="hcs" value="http://usga-aftrepo-01.eastus.cloudapp.azure.com:8082/artifactory/api/nuget/nuget-hcs" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <hcs>
      <add key="Username" value="hcs" />
      <add key="ClearTextPassword" value="ChA7uW3aquWRU5huq5Ka" />
    </hcs>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>